[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "zsh/plugins/dircolors-solarized"]
	path = zsh/plugins/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
	ignore = dirty
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
	ignore = dirty
[submodule "zsh/plugins/zsh-completions"]
	path = zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
	ignore = dirty
[submodule "ohmyzsh"]
	path = ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
    ignore = dirty
[submodule "zsh/plugins/zsh-vi-mode"]
	path = zsh/plugins/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode
    ignore = dirty
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
    ignore = dirty
[submodule "neovim/nvchad"]
	path = neovim/nvchad
	url = https://gitee.com/mirrors/nvchad
    ignore = dirty
[submodule "neovim/nvim/lua/custom"]
	path = neovim/nvim/lua/custom
	url = git@github.com:catwang01/nvchad-custom.git
    ignore = dirty
[submodule "dotbot_plugins/dotbot-crossplatform"]
	path = dotbot_plugins/dotbot-crossplatform
	url = https://github.com/msdrigg/dotbot-crossplatform.git
